.login {
  height: 100vh;
  background: #f8f8f8;
  /* center the item */
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  /* adding card like view */
  background-color: white;
  border-radius: 10px;
  /* box shadow will give very nice floating effect */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  color: white;
  background-color: #df1d5a;
}

.login__container > button:hover {
  background-color: #2db67e;
}
